.sign-up__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0; }

.sign-up__wrapper__color__container {
  background-image: url("http://travelhdwallpapers.com/wp-content/uploads/2014/02/The-Louvre-18.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000060; }

@media screen and (max-width: 1620px) and (min-width: 400px) {
  .sign-up__wrapper {
    position: absolute; }
  .full-container {
    font-size: 1rem; }
  .full-height {
    height: 0; } }

@media screen and (max-width: 1920px) {
  .full-height {
    height: 100vh; } }

.sign-up__wrapper__container {
  min-width: 40%;
  background-color: #00000090; }

.museum-details__wrapper {
  min-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.museum-image {
  max-width: 100%;
  margin: 1rem; }

.image_controller {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  flex-direction: column; }

.file-input-wrapper {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  font-size: 1.8rem;
  position: relative;
  color: #FFF;
  border-radius: 5px;
  background-color: #4DB3D8;
  cursor: pointer; }

.file-input-wrapper > input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: #4DB3D8;
  cursor: pointer; }

.file-input-wrapper > .btn-file-input {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 1.6rem;
  background-color: #4DB3D8;
  border: none;
  cursor: pointer; }

.file-input-wrapper:hover > .btn-file-input {
  background-color: #0a4d66;
  cursor: pointer; }

.input-file {
  cursor: pointer; }

.museum-details__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  width: 100%; }

.image_controller {
  width: 100%; }

.museum-form__item {
  width: 100%;
  margin: 2rem; }

.museum-form__section {
  display: flex;
  width: 100%; }

.menu-form__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%; }

.form-group {
  margin: 0; }

.my-form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start; }

.price-container__currency-options {
  display: flex;
  justify-content: center;
  width: 20%; }

.price-container__currency-value {
  display: flex;
  justify-content: center;
  flex-basis: 60%;
  width: 100%; }

.form-group {
  width: 100%; }

.form-input__control-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center; }

.select-days {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin-right: 1rem; }

.day-opt {
  margin: 1rem; }

.form-input__control__item {
  margin: 1rem;
  width: 50%; }

.select-days__item {
  margin: 1rem;
  width: 100%; }

.hours {
  margin: 1rem;
  display: flex; }

.dividor-horizontal {
  background-color: #FFF;
  width: 100%;
  height: 0.2rem;
  margin: 0.5rem; }

.form-input__control-group {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: center; }

.divider-vertical {
  height: 2rem;
  width: 0.2rem;
  margin: 0.5rem;
  background-color: #FFF; }

.schedules {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.invalid-hours-message {
  color: #F95058; }

.full-container {
  width: 100%;
  background-color: #00000090;
  font-size: 2rem;
  padding: 2rem;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.form-control__time__item {
  width: 70%; }

.summary-img {
  width: 40%; }

.price-summary {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.times {
  display: flex;
  width: 100%;
  justify-content: center; }

.single-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.time__wrapper {
  border: 2px solid #FFF;
  margin: 0.5rem; }
