.forgot-pass-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("http://travelhdwallpapers.com/wp-content/uploads/2014/02/The-Louvre-10.jpg");
  background-size: cover; }

.login-color__wrapper {
  background-color: #00000060;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.login-wrapper__container {
  min-width: 40%;
  font-size: 2rem;
  padding: 2rem;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00000090; }

.login-wrapper__container__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 80%; }

.is-invalid {
  border: solid 1.5px #e43030; }

.form-group {
  width: 80%; }
