.not-found-wrapper {
  height: 100vh;
  widows: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("http://travelhdwallpapers.com/wp-content/uploads/2014/02/The-Louvre-10.jpg");
  background-size: cover; }

.color-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000050; }

.not-found-wrapper__conatiner {
  width: 50%;
  background-color: #00000090;
  padding: 2rem;
  font-size: 7rem;
  color: #FFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
