.user-create__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .user-create__wrapper__form{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 700px) {
    .user-create__wrapper__form{
      width: 50%
    }
  }
  .user-list__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
  }
  .user-list__wrapper__form{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 700px) {
    .user-list__wrapper__form{
      width: 100%
    }
  }
  .flex-container {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  justify-content: space-evenly;
}
.form-group{
  width: 100%;
  padding: 1rem;
}