.translation-update__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center; }

.translation-update__wrapper__form {
  width: 50%; }

@media (max-width: 700px) {
  .translation-update__wrapper__form {
    width: 80%; } }
