a.effect-underline:after {
    content: '';
    display: flex;
    height: 0.5em;
    width: 100%;
    border-bottom: 1px solid;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

a.effect-underline:hover:after {
    opacity: 1;
    transform: scale(1);
}


html, body {
    overflow: auto;
}
html, body, #app, #app>div {
    height: 100%
  }


body {
    margin: 0;
    padding: 0;
}

.special-icon {
    width: 18%;
    margin-right: 0.5rem;
}

.special-icon-wrapper {
    display: flex;
    align-items: center;
}