.login-wrapper{
    width: 100%;
    height: 100vh;
    background-image:  url('https://cdn.hipwallpaper.com/i/96/11/AsH5p3.jpg');
    background-size: cover;
}
.login-color__wrapper{
    background-color: #00000060;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper__container{
    min-width: 40%;
    font-size:  2rem;
    padding: 2rem;
    color: #FFF;
    display: flex;
    justify-content: center;
     align-items: center;
    flex-direction: column;
    background-color: #00000090;
}
.login-wrapper__container__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 80%;
}

.is-invalid{
    border: solid 1.5px rgb(228, 48, 48);
}
.form-group{
    width: 80%;
}
